<br>
<div class="container">
  <h4 id="bettitle"></h4>
  <div class="row row-cols-1 row-cols-md-2 g-4" id="content">
    {{!-- stuff goes here --}}

  </div>
</div>
<br>
<div class="container">
  <h4 id="wittitle"></h4>
  <div class="row row-cols-1 row-cols-md-2 g-4" id="witnesscontent">
    {{!-- stuff goes here --}}

  </div>
</div>
<br>
<div class="container">
  <h4 id="parttitle"></h4>
  <div class="row row-cols-1 row-cols-md-2 g-4" id="participantcontent">
    {{!-- stuff goes here --}}

  </div>
</div>
<div class="modal fade" id="betModal" tabindex="-1" aria-labelledby="betModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="modalContent">

  </div>
</div>
<div class="modal fade" id="witnessModal" tabindex="-1" aria-labelledby="witnessModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="witmodalContent">

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="/js/dashboard.js"></script>