<br>
<div class="container">
  <h4 id="bettitle" style="color: rgb(0, 219, 0)">Bets you Created:</h4>
  <div class="row" id="content">
    {{!-- stuff goes here --}}

  </div>
</div>
<br>
<div class="container">
  <h4 id="wittitle" class="text-light">Bets you are a Witness of:</h4>
  <div class="row" id="witnesscontent">
    {{!-- stuff goes here --}}

  </div>
</div>
<br>
<div class="container">
  <h4 id="parttitle" class="text-light">Bets you are a Participant of:</h4>
  <div class="row" id="participantcontent">
    {{!-- stuff goes here --}}

  </div>
</div>
<br>
<div class="container">
  <h4 id="restitle" class="text-info">Resolved Bets you were a part of:</h4>
  <div class="row" id="rescontent">
    {{!-- stuff goes here --}}

  </div>
</div>
<div class="modal fade" id="betModal" tabindex="-1" aria-labelledby="betModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="modalContent">

  </div>
</div>