<br>
<div class="container">
  <div class="row" id="content">
    {{!-- stuff goes here --}}

  </div>
</div>
<div class="modal fade" id="betModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="modalContent">

  </div>
</div>
