<br>
<div class="container">
  <div class="row" id="content">
    {{!-- stuff goes here --}}

  </div>
</div>
<div class="modal fade" id="betModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="modalContent">

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src="/js/home.js"></script>