<br>
<div class="container">
  <div class="row" style="margin-top: 8%;">
    <div class="card" style="background: transparent; width: 600px">
    <form class="input-group input-group-lg" style="display: block">
      <p>
        <label for="name" style="color: aliceblue">Name</label>
        <input type="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
          name="name" id="name">
      </p>
      <p>
        <label for="description" style="color: aliceblue">Description</label>
        <input type="description" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg" name="description" id="description">
      </p>
      <p>
        <label for="value" style="color: aliceblue">Wager Amount</label>
        <input type="integer" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
          name="value" id="value">
      </p>
      <div id="test">
        <button id='placeBet' type="button" class="btn btn-primary my-2 mx-3">Place Bet</button>
      </div>
    </form>
    </div>
  </div>
</div>