body {
  overflow: hidden;
}
.input-group .btn {
  align-items: center;
}

.placeBet {
  margin-top: 30px;
}

/* div .input-group {
  margin-top: 30px;
} */

/* .test {
  margin-top: 30px;
} */

/* .input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  width: 100%;
} */

.input-group {
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  width: 80%;
  /* max-width: 800px;
  min-width: 10%; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* align-content: center; */
  margin-left: 10%;
  font-size: 20px;
  font-weight: 500;
  /* color:rgb(255, 255, 255); */
  /* opacity: 70%; */
  /* color-adjust:unset; */
  /* background: transparent; */
}

.row>* {
  /* padding-left: calc(var(--bs-gutter-x)/ 1); */
  padding-left: 3%;
}


/* #name.form-control {
 padding-inline-start: 20px;
} */